@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 26px;
  line-height: 24px;
  color: #000000;
  background-color: #e5e5e5;
  margin: 0 auto;
  height: 100%;
  width: 1200px;
}

.page-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

/* хедер навигация */


.navigation {
  display: flex;
  margin: 0 auto;
  width: 1060px;

}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 507px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 28px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 20px 16px;
  display: block;
}

.navigation-user {
  margin: 0;
  padding: 0;
  max-width: 268px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  list-style-type: none;
}

.navigation-user-link {
  display: block;
  min-width: 44px;
  min-height: 64px;
  box-sizing: border-box;
  padding: 22px 12px;
}

sup {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  vertical-align: top;
  color: #FFFFFF;
  background-color: #7DB54F;
}

.button-navigation {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  width: 160px;
  margin: 16px 0px;
  margin-left: 20px;
  box-sizing: border-box;
  padding: 8px 34px;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* хиро */
.hero {
  width: 1200px;
  height: 485px;
  background-image: url(../images/index-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-img {
  display: block;
  margin: 0 auto;
  padding: 51px 371px 82px;
}

.advantages-title-container {
  width: 1200px;
  min-height: 123px;
  margin: 0 auto;
  padding-top: 69px;
  padding-bottom: 69px;
}

li h3,
fieldset,
h1,
h2,
h3 {
  margin: 0;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 25px;
}

.title-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}

/* преимущества */
.advantages-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  /* align-content: stretch;
  align-items: stretch; */
  list-style-type: none;
}

.advantages-item-container {
  width: 230px;
  min-height: 160px;
  padding: 100px 85px;
}

.advantages-item-town,
.advantages-item-bridge {
  display: flex;
}

.advantages-item {
  background-color: #82B3D3;
  text-align: center;
}

.advantages-item-square,
.advantages-item-tourist {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.advantages-title-black,
.advantages-description-black {
  color: inherit
}

/* сервис */

.service-title-container {
  width: 1200px;
  min-height: 118px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
}

.service-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
}

.service-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}

.service-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  background-color: rgba(131, 179, 211, 0.12);
}

.service-container {
  width: 230px;
  min-height: 223px;
  padding: 81px 85px;
}

.service-item-food {
  background-color: #ffffff;
}

.service-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.service-item-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

/* найти гостиницу */

.search {
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-container {
  width: 592px;
  min-height: 214px;
  margin: 0 auto;
  text-align: center;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 54px;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
  box-sizing: border-box;
  border-radius: 4px;
}

/* подписаться */
.page-subscribe {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url("../images/Subscribe.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  width: 1200px;
  padding-top: 96px;
  padding-bottom: 104px;
}

.page-subscribe-container {
  width: 684px;
  min-height: 215px;
  margin: 0 auto;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  border-radius: 4px;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  width: 232px;
  min-height: 52px;
}

.field {
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
  width: 452px;
  min-height: 52px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  padding-left: 20px;
}

input,
button {
  padding: 0;
  border: none;
}

/* футер */

.page-footer {
  width: 1200px;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  padding: 35px 70px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 47px;
  height: 40px;
  outline: #7DB54F 2px solid;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: inherit;
  height: 50px;
  width: 720px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-logo-html {
  padding-top: 8px;
  padding-bottom: 8px;
}

.logo-link {
  display: block;
}

/* каталог */

/* хедер каталога */

.inner-header {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  height: 412px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-left: 70px;
  padding-top: 35px;
}

/* хлебные крошки  */

.breadcrumbs {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  padding-left: 70px;
  display: flex;
}

.breadcrumbs-item {
  padding-left: 10px;
}

/* фильтры поиска */

.catalog-filter-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  height: 160px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 35px;
  margin-top: 40px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
  padding-bottom: 32px;
}

fieldset {
  padding: 0;
  border: 0px;
}

.catalog-left-column,
.catalog-right-column {
  display: flex;
  justify-content: space-between;
}

.catalog-left-column {
  width: 371px;
  height: 160px;
}

.catalog-filter-infrastructure,
.catalog-filter-dwelling {
  height: 160px;
  width: 151;
}

.catalog-filter-dwelling {
  padding-left: 70px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  padding-bottom: 16px;
}

.catalog-right-column {
  width: 549px;
  height: 160px;
}

.catalog-filter-price {
  height: 160px;
  width: 288;
}

.button-filter-blu {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.button-filter-transparent {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
}

/* результаты поиска, сортировка  */

.search-results {
  display: flex;
  width: 1060px;
  height: 49px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 40px;
}

.title-search {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  margin-left: 200px;
  margin-right: 70px;
  padding: 14px 20px;
  width: 292px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.display-type {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.display-item {
  display: block;
  outline: #7DB54F 2px solid;
  width: 48px;
  height: 48px;
  margin-left: 8px;
}

.display-item:nth-child(1) {
  margin-left: 0;
}

/* карточки отелей */

.catalog-hotels-container {
 width: 1060px;
 margin: 0 auto;
}

.hotel-card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-dwelling {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotel-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.button-card-brown {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.button-card-blu {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

/* пагинация */

.pagination-container {
  width: 1060px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 60px;
 }

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.pagination-item {
  margin-left: 8px;
}

.pagination-item:first-child {
  margin: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

/* подписаться */

.inner-subscribe {
  background-image: none;
  background-color: #FFFFFF;
}

.inner-subscribe-container .subscribe-title,
.inner-subscribe-container .subscribe-description {
  color: #000000;
}

.subscribe-form {
  text-align: center;
}
